body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.flood-map {
    width: 500px;
    height: 700px;
    float: left;
}

.flood-map__wb {
    stroke: #333;
    stroke-width: 0.5;
    fill: white;

    &.is-upstream {
        fill: #4bc6df;
    }

    &.is-downstream {
        fill: #aad801;
    }
}

.flood-stats {
    overflow: hidden;
}

.flood-chart {
    @include fs-textSans(2);
    list-style: none;
    margin: 0 0 12px;
    padding: 0;
}

.flood-series {
    margin-left: 90px;
    position: relative;
    height: 20px;

    & > span {
        display: inline-block;
        vertical-align: middle;
    }
}

.flood-series__name {
    position: absolute;
    right: 100%;
    margin-right: 5px;
    line-height: 20px;
    white-space: nowrap;
}

.flood-series__bar {
    height: 10px;
    background-color: #005689;
}
