body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.flood-map {
    width: 500px;
    height: 700px;
}

.flood-map__wb {
    stroke: #333;
    stroke-width: 0.5;
    fill: white;

    &.is-upstream {
        fill: blue;
    }

    &.is-downstream {
        fill: green;
    }
}
